body {
    background-color: white;
}

h1 {
    color: bisque;
}
p {
    background-color: pink;
    border: 2px solid red;
}
#mainContainer {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: auto;
}