body {
    background-color: white;
}

h1 {
    color: rgb(250, 139, 3);
    text-shadow: 4px 4px 4px rgb(24, 23, 23);
}
p {
    background-color: pink;
    border: 2px solid rgb(247, 169, 2);
}
#mainContainer {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: auto;
}
:hover h1 {
    transition-delay: 1s, 250ms;
    transition-property: color;
    color:blueviolet;
}